.sourcecard{
    background-color: aliceblue;
}
.sourcename{
    background-color: #6bc5d2;
    font-weight: bold;
}
.descrip{
    font-size: 18px;
}
.headers{
    color: white;
}
                                                                                                                                                                                                                                                                                                