.sourcecard{
    background-color: aliceblue;
}
.sourcename{
    background-color: #6bc5d2;
    font-weight: bold;
}
.descrip{
    font-size: 18px;
}
.headers{
    color: white;
}
              
.title{
    font-family: 'Livvic', sans-serif;
    color: blue;
    background-color: #6bc5d2;
}
.sourcename{
    background-color: #6bc5d2;
    color: blue;
    font-weight: bold;
}
.sourcecard{
    background-color: rgba(248, 248, 248, 0.89);
}
.arti{
    font-weight: bold;
    background-color: #6bc5d2;
}
#sourcename a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.overlay{
    background-color: rgba(39, 42, 42, 0.884);
    width: 100%;
    padding-top: 1%
}
.nav-link,.navbar-brand{
    font-family: 'ABeeZee', sans-serif;
}
