{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for ('static',filename ='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="allsource">
    <div class="overylay container-fluid">
        
        <h2 class="text-center headers">Education Articles</h2>
        {{ macro.display_new_articles(education)}}

        <h2 class="text-center headers">Health Articles</h2>
        {{macro.display_new_articles(health)}}

    </div>
</div>
{% endblock %}