{% macro display_new_sources(sources_outcome)%}
<div class="container-fluid">
    <div class="card-column">
        {% for news in sources_outcome%}
        <div class="card sourcecard">
            <div class="card-header sourcename">
                <h4><a href="/articles/{{news.id}}">{{news.name}}</a></h4>
            </div>
            <div class="card-body">
                <p class="descrip">
                    {{news.description}}
                </p>
                <a href="/articles/{{news.id}}"><button class="btn btn-sm btn-outline-success">Read Article</button></a>
                <a href="{{news.url}}"><button class="btn btn-sm btn-outline-success">Visit {{news.name}}</button></a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endmacro %}

{% macro display_new_articles(articles_outcome)%}
<div class="container-fluid">
    <div class="card-columns">
        {%for article in articles_outcome %}
        <div class="card">
            <div class="card-header arti">
                <h4>{{article.title}}</h4>
            </div>
            <div class="card-body">
                <img src="article.urlToImage" alt="{{article.title}}" class="card-img">
            <hr>
            <p class="descrip">
                {{article.description}}
            </p>
            <p>Posted: {{article.publishedAt | truncate(12)}} By: {{article.author | truncate(13)}}</p>
           </div>
           <div class="card-footer">
               <a href="{{article.url}}"><button class="btn btn-sm btn-outline-success">Read More</button></a>
           </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endmacro%}
